.user {
  display: inline-flex;
  flex-direction: column;
  row-gap: 4px;
  width: 60px;
  overflow: hidden;

  &--with-stories {

    .user__avatar-wrapper {
      border: none;
      background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    }
  }
  &__avatar-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid rgba(0, 0, 0, 0.36);
    padding: 2.4px;
    border-radius: 50%;
    cursor: pointer;
  }
  &__avatar {
    width: 100%;
  }
  &__username {
    @include make-ellipsis;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
  }
}